/* ======================================================================
 component
====================================================================== */

.c_kv {
  position: relative;

  .kv_img {
    display: block;
    width: 100%;
    height: calc(100vh - 100px);
    // background-color: #222222;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.09'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    source,
    img {
      object-fit: cover;
    }
  }

  .kv_txt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    padding: 100px 0;

    @include sp() {
      width: 100%;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0;
      height: auto;
    }

    .left {
      @include sp() {
        width: 100%;
      }

      .kv_ttl {
        color: #fff;
        font-weight: 900;
        font-size: 45px;

        @include sp() {
          text-align: center;
        }
      }

      .catchcopy {
        margin: 30px 0 0;
        color: #fff;
        font-weight: 700;
        font-size: 21px;

        @include sp() {
          text-align: center;
        }
      }

      .desc {
        margin: 30px 0 0;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1.7px;
        line-height: 32px;

        @include sp() {
          padding: 0 15px;
        }
      }
    }

    .right {
      width: 600px;
      height: 500px;
      position: absolute;
      top: 50%;
      right: 3%;
      transform: translateY(-50%);
      border-radius: 10px;
    }
  }
}

.c_nav {
  width: 100%;
  height: 40px;
  background: $accent_bg;

  .lists {
    width: $content_width;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .items {
      position: relative;
      border-left: 1px solid #ccc;
      padding: 0 16px;

      &:last-child {
        border-right: 1px solid #ccc;
      }

      .link {
        font-size: 16px;
        color: #fff;
      }
    }
  }
}

.c_cv {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 80px 0;
  box-sizing: border-box;

  @include sp() {
    height: auto;
  }

  .inner {
    height: auto;
    margin: 0 auto;
    padding: 30px 0;
    background: $accent_bg;

    @include sp() {
      width: 100%;
      padding: 30px 0;
    }

    ._txt {
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      text-align: center;
    }

    .c_btn_grp {
      .u_btn_1 {
        @include sp() {
          width: 90%;
        }
      }
    }
  }
}

.c_btn_grp {
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include sp() {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.c_bot_btn_grp {
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include sp() {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.c_col_box {
  .inner {
    ._col_list {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin: 40px auto 0;

      @include sp() {
        flex-wrap: wrap;
      }

      .items {
        // width: 372px;
        position: relative;

        @include sp() {
          width: 100%;
        }

        // &:last-child {
        //   margin: 0;
        // }

        ._img_box {
          display: block;
          width: 100%;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        ._img {
          width: initial;

          @include sp() {
            width: 100%;
          }
        }

        ._col_tag {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 100px 100px 0;
          border-color: transparent #073763 transparent transparent;
          color: #fff;

          &::before {
            content: "Point";
            position: absolute;
            color: #fff;
            transform: rotate(45deg);
            font-size: 16px;
            top: 15px;
            left: 55px;
          }
        }

        ._col_ttl {
          font-size: 22px;
          font-weight: 900;
          margin: 15px 0 0;
          position: relative;
          display: flex;
          justify-content: left;
          align-items: center;
          line-height: 32px;
          color: $base;

          @include sp() {
            font-size: 16px;
            margin: 10px 0 0;
            text-align: center;
          }
        }

        ._col_txt {
          margin: 21px 0 0;
          font-size: 16px;
          letter-spacing: 1.7px;
          line-height: 24px;
          color: $base_bg_color;

          @include sp() {
            margin: 10px 0 0;
          }
        }
      }
    }
  }
}

.c_overview {
  .inner {
    .txt {
      margin: 0 auto;
      line-height: 2.3;
      color: $base_bg_color;
    }

    .l_box {
      display: flex;
      justify-content: space-between;
      width: 1160px;
      margin: 50px auto 0;

      @include sp() {
        width: 100%;
        flex-wrap: wrap;
      }

      ._left {
        width: 49%;
        padding: 30px 0 0;

        @include sp() {
          width: 100%;
        }

        ._txt {
          margin: 30px 0 0;
          color: $base_bg_color;
        }

        .c_txt {
          font-size: 21px;
          margin: 30px 0 0;
          color: $base_bg_color;
        }
      }

      ._right {
        width: 49%;
        height: 300px;

        @include sp() {
          width: 100%;
        }

        ._img_box {
          display: block;
        }
      }
    }
  }
}

.c_card_item {
  width: 28%;
  display: block;
  cursor: pointer;
  transition: all ease-in-out .3s;

  @include sp () {
    width: 100%;
    margin: 20px 0 0;
  }

  &:hover {
    box-shadow: 0px 0px 15px -5px #777777;
  }

  &:nth-child(n+4) {
    margin: 30px 0 0 0;
  }

  .cap_img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;

    .cat {
      position: absolute;
      width: fit-content;
      padding: 5px 15px;
      background: $base;
      color: $base_font;
      font-size: 12px;
      bottom: -10px;
      left: 20px;
    }
  }

  .info_box {
    width: 100%;
    height: 200px;
    background: #fff;
    padding: 15px;

    .ttl {
      font-size: 16px;
      font-weight: 700;
    }

    .lists {
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      margin: 15px 0 0;

      .items {
        font-size: 12px;
        margin: 0 12px 0 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

.c_table {
  .inner {
    margin: 0 auto;
    overflow: hidden;

    .c_plan_table {
      .table_contents {
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: fixed;
        width: 1000px;
        margin: 0 auto;
        overflow-x: scroll;

        tr {
          text-align: center;
          padding: 7px 0;
          border-right: solid 1px #ddd;
          border-left: solid 1px #ddd;
          width: 155px;

          &:nth-child(2) {
            td {
              font-size: 30px;
            }
          }

          &:last-child {
            border-bottom: solid 1px #ddd;
          }
        }

        th {
          text-align: center;
          padding: 20px 0;
          border-right: solid 1px #ddd;
          border-left: solid 1px #ddd;
          width: 155px;

          &:nth-child(1) {
            background-color: #dddddd;
          }

          &:nth-child(3) {
            background-color: $accent_bg;
            color: white;
          }

          &.popular {
            position: relative;
            background-color: $accent_bg;
            color: #fff;

            .no1 {
              position: absolute;
              top: -10px;
              left: 20px;
              background: #D1597B;
              width: fit-content;
              font-size: 12px;
              border-radius: 10px;
              padding: 5px 10px;
            }
          }
        }

        td {
          text-align: center;
          padding: 17px 0;
          border-right: solid 1px #ddd;
          border-left: solid 1px #ddd;
          width: 33%;
          background: #fff;

          .price {
            font-size: 32px;
            font-weight: 900;
          }

          i {
            margin: 0 5px 0 0;

            &.fa-check {
              color: #23AC38;
            }

            &.fa-xmark {
              color: #f34955;
            }
          }
        }
      }

      @include sp() {
        padding: 20px;
        width: calc(333 * 3);
        overflow-x: scroll;
      }
    }
  }
}

.c_info_list {
  width: 1000px;
  margin: 0 auto;
  height: auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;

  @include sp() {
    width: 100%;
    padding: 10px;
  }

  .lists {
    .items {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      margin: 20px 0 0;
      border-bottom: solid 1px #aaa;

      &:last-child {
        border-bottom: none;
      }

      @include sp() {
        height: auto;
        padding: 20px 0;
      }

      .list_cell {
        display: flex;
        justify-content: left;
        align-items: center;

        &.left {
          width: 20%;
          padding: 0 0 0 20px;
          font-weight: bold;

          @include sp() {
            width: 100%;
            text-align: center;
          }
        }

        &.right {
          width: 70%;
          padding: 0 0 0 20px;
          box-sizing: border-box;

          @include sp() {
            width: 100%;
            margin: 20px 0 0;
          }
        }
      }
    }
  }
}

.c_link_list {
  width: 1000px;
  margin: 0 auto;
  height: auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;

  @include sp() {
    width: 100%;
    padding: 10px;
  }

  .lists {
    .items {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      margin: 20px 0 0;
      padding: 15px 0;
      border-bottom: solid 1px #aaa;
      transition: all ease-in-out .3s;

      &:hover {
        .link {
          .ttl {
            text-decoration: none;
          }
        }
      }

      @include sp() {
        height: auto;
        padding: 0 0 20px;
      }

      .link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;

        @include sp() {
          flex-direction: column-reverse;
          justify-content: center;
        }

        .info {
          width: 20%;

          @include sp() {
            width: 100%;
            display: flex;
            justify-content: space-between;
            justify-content: center;
            margin: 15px 0 0;
          }

          time {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #80858b;
            margin: 0 10px 0 0;
            text-align: center;
          }

          .cat {
            width: 80%;
            margin: 10px auto 0;
            background: #f19753;
            padding: 0 5px;
            font-size: 14px;
            color: #fff;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include sp() {
              margin: 0;
            }
          }
        }

        .ttl {
          width: 80%;
          text-decoration: underline;
          line-height: 2;
          letter-spacing: 1.2px;

          @include sp() {
            width: 100%;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.c_flow_list {
  width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;

  @include sp() {
    width: 100%;
  }

  .lists {
    width: 100%;
    height: auto;
    position: relative;

    &::after {
      content: "";
      width: 1px;
      height: calc(100% - 10px);
      background: #aaa;
      position: absolute;
      top: 5px;
      left: 50px;
      transform: translateX(-50%);

      @include sp() {
        height: calc(100% - 20px);
      }
    }

    .items {
      display: flex;
      justify-content: left;
      align-items: center;
      position: relative;
      margin: 50px 0 0;
      min-height: 110px;
      z-index: 2;

      @include sp() {
        align-items: flex-start;
      }

      &:last-child {
        .left {
          .num {
            &::after {
              content: none;
            }
          }
        }
      }

      .left {
        margin: 0 20px 0 0;

        .num {
          width: 100px;
          height: 100px;
          background: $base;
          border-radius: 50%;
          color: $base_font;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
        }
      }

      .right {
        .ttl {
          font-weight: 700;
        }

        .txt {
          margin: 15px 0 0;
        }
      }
    }
  }
}

.c_breadcrumbs {
  padding: 30px 0;
  color: #777777;
  background: #fff;
  border-bottom: solid 1px #ddd;

  .breadcrumb {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;

    li {
      margin: 0 10px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}


/* =================================
 title
================================= */
.c_footer_link {
  width: 1200px;
  padding: 100px 0;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  .link_list {
    width: 20%;

    .lists {
      &._child {
        .items {
          margin: 20px 0 0;

          .child_lists {

            .child_items {
              display: flex;
              justify-content: left;
              align-items: center;
              margin: 5px 0 0 5px;
              text-indent: 10px;

              &::before {
                background: $base;
                content: "";
                display: inline-block;
                height: 4px;
                width: 8px;
              }

              .child_link {
                font-size: 13px;

                &.nolink {
                  color: #555;
                  pointer-events: none;
                }

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      .items {
        margin: 32px 0 0;

        &:first-child {
          margin: 0;
        }

        .link {
          &:hover {
            text-decoration: underline;
          }

          &.nolink {
            color: #555;
            pointer-events: none;
          }
        }
      }
    }
  }
}
