/* ======================================================================
 utility
====================================================================== */

/* ======================================================================
 ttl
====================================================================== */
.u_ttl_1 {
  font-size: 45px;
  font-weight: bold;
  padding: 40px 0;
  color: $base_bg_color;
}

.u_ttl_2 {
  font-size: 35px;
  font-weight: bold;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $base_bg_color;

  .en {
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    color: #C0C4D1;
  }

  .ja {
    margin: 20px 0 0;
    font-size: 36px;
  }

  .border {
    width: 50px;
    height: 3px;
    background: $base;
    margin: 30px 0 0;
  }
}

/* ======================================================================
 btn
====================================================================== */
.u_btn_1 {
  box-sizing: border-box;
  background-color: $base;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: all ease-in-out .3s;

  @include sp() {
    width: 100%;
  }
}

.u_tel_btn {
  font-size: 18px;
  display: flex;
  justify-content: left;
  align-items: center;

  @include sp() {
    font-size: 14px;
    margin: 20px auto 0;
  }

  i {
    font-weight: 900;
    font-size: 34px;
    margin: 5px 5px 0 0;
    box-sizing: border-box;

    @include sp () {
      font-size: 26px;
    }
  }

  .tel_txt {
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: center;
    color: #fff;

    @include sp () {
      font-size: 32px;
    }

    .txt {
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .time {
      font-size: 16px;
      letter-spacing: 1.2px;
    }
  }
}

/* ======================================
btn_custom_style
====================================== */
.radius_10 {
  border-radius: 10px;
}

.radius_50 {
  border-radius: 50px;
}

.radius_circle {
  border-radius: 50%;
}

/* ======================================
btn_action
====================================== */
.u_arrow {
  position: relative;

  &:hover {
    background: $base;

    &::after {
      transform: translate(10px, -50%);
    }
  }

  &::after {
    content: "\f061";
    font-family: 'Font Awesome 6 Free';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: all ease-in-out .3s;
  }
}

.u_bg_change {
  &:hover {
    background: $base_hover;
  }
}

.u_push {
  box-shadow: 0px 5px 0px $base_hover;

  &._cv_btn {
    background-color: $base_reverse;
    box-shadow: 0px 5px 0px $base_reverse_hover;

    &:hover {
      box-shadow: 0px 1px 0px $base_reverse_hover;
    }
  }

  &:hover {
    box-shadow: 0px 1px 0px $base_hover;
    transform: translateY(4px);
  }
}

/* ======================================================================
 change font
====================================================================== */
.u_osw {
  font-family: "Oswald", sans-serif;
}

/* ======================================
width
====================================== */
.w_100 {
  width: 100px;
}

.w_100 {
  width: 150px;
}

.w_200 {
  width: 200px;
}

.w_250 {
  width: 250px;
}

.w_300 {
  width: 300px;
}

.w_350 {
  width: 350px;
}

.w_400 {
  width: 400px;
}

.w_450 {
  width: 450px;
}

.w_500 {
  width: 500px;
}

.w_550 {
  width: 550px;
}

.w_600 {
  width: 600px;
}

.w_650 {
  width: 650px;
}

.w_700 {
  width: 700px;
}

.w_800 {
  width: 800px;
}

.w_900 {
  width: 900px;
}

.w_1000 {
  width: 1000px;
}

.w_fhd {
  width: 1920px;
}

.w_content {
  width: $content_width;
}

.w_10_per {
  width: 10%;
}

.w_20_per {
  width: 20%;
}

.w_25_per {
  width: 25%;
}

.w_30_per {
  width: 30%;
}

.w_40_per {
  width: 40%;
}

.w_50_per {
  width: 50%;
}

.w_100_per {
  width: 100%;
}

/* ======================================
height
====================================== */
.h_full {
  height: 100%;
}

.h_20 {
  height: 20px;
}

.h_30 {
  height: 30px;
}

.h_40 {
  height: 40px;
}

.h_50 {
  height: 50px;
}

.h_60 {
  height: 60px;
}

.h_70 {
  height: 70px;
}

.h_80 {
  height: 80px;
}

.h_90 {
  height: 90px;
}

.h_100 {
  height: 100px;
}

.h_150 {
  height: 150px;
}

.h_200 {
  height: 200px;
}

.h_250 {
  height: 250px;
}

.h_300 {
  height: 300px;
}

.h_350 {
  height: 350px;
}

/* ======================================
font-size
====================================== */

.f_16 {
  font-size: 16px;
}

.f_18 {
  font-size: 18px;
}

.f_21 {
  font-size: 21px;
}

.f_24 {
  font-size: 24px;
}

.f_28 {
  font-size: 28px;
}

.f_32 {
  font-size: 32px;
}

.f_36 {
  font-size: 36px;
}

/* ======================================
margin
====================================== */
.m_left_10 {
  margin-left: 10px;
}

.m_left_20 {
  margin-left: 20px;
}

.m_left_30 {
  margin-left: 30px;
}

.m_left_40 {
  margin-left: 40px;
}

.m_left_50 {
  margin-left: 50px;
}

.m_left_60 {
  margin-left: 60px;
}

.m_left_70 {
  margin-left: 70px;
}

.m_left_80 {
  margin-left: 80px;
}

.m_left_90 {
  margin-left: 90px;
}

.m_left_100 {
  margin-left: 100px;
}

.m_right_10 {
  margin-right: 10px;
}

.m_right_20 {
  margin-right: 20px;
}

.m_right_30 {
  margin-right: 30px;
}

.m_right_40 {
  margin-right: 40px;
}

.m_right_50 {
  margin-right: 50px;
}

.m_right_60 {
  margin-right: 60px;
}

.m_right_70 {
  margin-right: 70px;
}

.m_right_80 {
  margin-right: 80px;
}

.m_right_90 {
  margin-right: 90px;
}

.m_right_100 {
  margin-right: 100px;
}

.m_top_10 {
  margin-top: 10px;
}

.m_top_20 {
  margin-top: 20px;
}

.m_top_30 {
  margin-top: 30px;
}

.m_top_40 {
  margin-top: 40px;
}

.m_top_50 {
  margin-top: 50px;
}

.m_top_60 {
  margin-top: 60px;
}

.m_top_70 {
  margin-top: 70px;
}

.m_top_80 {
  margin-top: 80px;
}

.m_top_90 {
  margin-top: 90px;
}

.m_top_100 {
  margin-top: 100px;
}

.m_bottom_10 {
  margin-bottom: 10px;
}

.m_bottom_20 {
  margin-bottom: 20px;
}

.m_bottom_30 {
  margin-bottom: 30px;
}

.m_bottom_40 {
  margin-bottom: 40px;
}

.m_bottom_50 {
  margin-bottom: 50px;
}

.m_bottom_60 {
  margin-bottom: 60px;
}

.m_bottom_70 {
  margin-bottom: 70px;
}

.m_bottom_80 {
  margin-bottom: 80px;
}

.m_bottom_90 {
  margin-bottom: 90px;
}

.m_bottom_100 {
  margin-bottom: 100px;
}

.m_center {
  margin: 0 auto;
}

.clear_margin {
  margin: 0;
}

/* ======================================
padding
====================================== */
.p_left_10 {
  padding-left: 10px;
}

.p_left_20 {
  padding-left: 20px;
}

.p_left_30 {
  padding-left: 30px;
}

.p_left_40 {
  padding-left: 40px;
}

.p_left_50 {
  padding-left: 50px;
}

.p_left_60 {
  padding-left: 60px;
}

.p_left_70 {
  padding-left: 70px;
}

.p_left_80 {
  padding-left: 80px;
}

.p_left_90 {
  padding-left: 90px;
}

.p_left_100 {
  padding-left: 100px;
}

.p_right_10 {
  padding-right: 10px;
}

.p_right_20 {
  padding-right: 20px;
}

.p_right_30 {
  padding-right: 30px;
}

.p_right_40 {
  padding-right: 40px;
}

.p_right_50 {
  padding-right: 50px;
}

.p_right_60 {
  padding-right: 60px;
}

.p_right_70 {
  padding-right: 70px;
}

.p_right_80 {
  padding-right: 80px;
}

.p_right_90 {
  padding-right: 90px;
}

.p_right_100 {
  padding-right: 100px;
}

.p_top_10 {
  padding-top: 10px;
}

.p_top_20 {
  padding-top: 20px;
}

.p_top_30 {
  padding-top: 30px;
}

.p_top_40 {
  padding-top: 40px;
}

.p_top_50 {
  padding-top: 50px;
}

.p_top_60 {
  padding-top: 60px;
}

.p_top_70 {
  padding-top: 70px;
}

.p_top_80 {
  padding-top: 80px;
}

.p_top_90 {
  padding-top: 90px;
}

.p_top_100 {
  padding-top: 100px;
}

.p_bottom_10 {
  padding-bottom: 10px;
}

.p_bottom_20 {
  padding-bottom: 20px;
}

.p_bottom_30 {
  padding-bottom: 30px;
}

.p_bottom_40 {
  padding-bottom: 40px;
}

.p_bottom_50 {
  padding-bottom: 50px;
}

.p_bottom_60 {
  padding-bottom: 60px;
}

.p_bottom_70 {
  padding-bottom: 70px;
}

.p_bottom_80 {
  padding-bottom: 80px;
}

.p_bottom_90 {
  padding-bottom: 90px;
}

.p_bottom_100 {
  padding-bottom: 100px;
}

/* ======================================
position
====================================== */

.postion_rel {
  position: relative;
}

.postion_abs {
  position: absolute;
}

/* ======================================
text-align
====================================== */
.align_center {
  text-align: center;
}

.align_left {
  text-align: left;
}

.align_right {
  text-align: right;
}

/* ======================================
sp
====================================== */
@include sp() {
  .w_sp_full {
    width: 100%;
  }
}

/* ======================================
other
====================================== */
._bg_dummy {
  background-color: $base_bg_color;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23aaaaaa' fill-opacity='0.35'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  &::after {
    content: "DUMMY";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $base_bg;
    font-size: 21px;
    font-weight: bold;
  }
}

// clearfix
.u_cf {
  @include cf;
}

@include pc_tab {
  .u_pc {
    display: block;

    &_i {
      display: inline;
    }

    &_ib {
      display: inline-block;
    }

    &_f {
      display: flex;
    }

    &_if {
      display: inline-flex;
    }
  }

  .u_sp {
    display: none;

    &_i,
    &_ib,
    &_f,
    &_if {
      display: none;
    }
  }
}

@include sp {
  .u_pc {
    display: none;

    &_i,
    &_ib,
    &_f,
    &_if {
      display: none;
    }
  }

  .u_sp {
    display: block;

    &_i {
      display: inline;
    }

    &_ib {
      display: inline-block;
    }

    &_f {
      display: flex;
    }

    &_if {
      display: inline-flex;
    }
  }
}

.u_logo {
  font-size: 35px;
  font-weight: bold;
  color: $base_bg_color;
}
