//======================================================================
// variable
//======================================================================
// imgディレクトリまでのパス
$img_dir: '../img';

// コンテンツ幅
$content_width: 1366px;

// SP時の左右の余白（片方）
$sp_side_padding: 20px;

$theme: "dark";
$theme_color: "red";

//=================================
// breakpoint
//=================================
// 下記2つの変数の間がタブレット表示
// タブレット表示なしの場合は2つの変数の値を「1px差」で設定すること

// $pc_bp以上がPC表示
$pc_bp: 769px;

// $sp_bp以下がSP表示
$sp_bp: 768px;

//=================================
// font
//=================================
$font_1: 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', '游ゴシック', YuGothic, sans-serif;


//=================================
// base color asset
//=================================
//blue
$base: #007FFF;
$basea: #007FFF77;
$base_hover: #01579b;
$base_font: #ffffff;
$base_reverse: #F19753;
$base_reverse_hover: #ab6c3c;

//blue2
// $base: #0069B2;
// $basea: #0069B277;
// $base_hover: #01579b;
// $base_font: #ffffff;
// $base_reverse: #F19753;
// $base_reverse_hover: #ab6c3c;

//red
// $base: #D1597B;
// $basea: #D1597B77;
// $base_hover: #82374c;
// $base_font: #ffffff;
// $base_reverse: #53ADF1;
// $base_reverse_hover: #3978a8;

//orange
// $base: #F19753;
// $basea: #F1975377;
// $base_hover: #ab6c3c;
// $base_font: #ffffff;
// $base_reverse: #53ADF1;
// $base_reverse_hover: #3978a8;

// green
// $base: #23AC38;
// $basea: #23AC3877;
// $base_hover: #166b23;
// $base_font: #ffffff;
// $base_reverse: #D1597B;
// $base_reverse_hover: #82374c;


//base_bg_dark
$base_bg: #222222;
$base_bg_even: #454D55;
$accent_bg: #2C343E;
$base_inner_bg: #F6F8F8;
$base_bg_color: #ffffff;

//base_bg_light
$base_bg: #ffffff;
$base_bg_even: #efefef;
$accent_bg: #2C343E;
$base_inner_bg: #F6F8F8;
$base_bg_color: #222222;

//=================================
// color
//=================================
$black: #222;

$white: #fff;

$red: #E02424;

$color_1: #F78500;

$color_2: #FBC933;

$color_3: #3E3E3E;

$color_4: #069AEA;

$color_5: #0E5BB5;

$color_6: #0B4EA8;

$color_7: #3CAD2E;

$color_8: #E08A14;

$color_9: #D8618E;

$color_10: #F3F3F3;

//=================================
// CSS Transition Easing
//=================================
// Default
$linear: cubic-bezier(0.250, 0.250, 0.750, 0.750);
$ease: cubic-bezier(0.250, 0.100, 0.250, 1.000);
$ease-in: cubic-bezier(0.420, 0.000, 1.000, 1.000);
$ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000);
$ease-in-out: cubic-bezier(0.420, 0.000, 0.580, 1.000);
// In
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeInQuint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045);
// Out
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
// In Out
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);
